.edu_container {
  display: flex;
  padding: 20px 0;
}
.edu_img {
  width: 35px;
  height: 35px;
}
.edu_duration{
  font-size: 12px;
  color: #646464;
  padding-bottom: 5px;
}
.edu_details_container{
  margin-left: 20px;
}
.edu_details_container h5{
  color: #646464;
  padding-top: 5px;
}

@media screen and (max-width: 992px) {
  .container {
    
  }
}

@media screen and (max-width: 586px) {
  
}